<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834686690752-a8v04bd5o2v1n7v0kk2c3j8jrg7dvudi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834686690752-a8v04bd5o2v1n7v0kk2c3j8jrg7dvudi</string>
	<key>API_KEY</key>
	<string>AIzaSyBCtGCvrikSiZVA3M2t3LJxNjI-xd9j4gY</string>
	<key>GCM_SENDER_ID</key>
	<string>834686690752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationSystem</string>
	<key>PROJECT_ID</key>
	<string>authentication-system-ap-51e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-system-ap-51e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834686690752:ios:9e5b7da0ec359ff5c39425</string>
</dict>
</plist>